

<h1>welcome to<div class="glyphicon glyphicon-book icon" style="color: #777777;"></div> Bookers !!</h1>
<br>
<h5>In <div class="glyphicon glyphicon-book" style="color: #777777; font-size: 15px;"></div>
Bookers, <br>you can share and exchange your opinions ,<br>
inpressions , and emotions about varioius books!</h5>

	<div class="container">
	    <div class="row">
	        <div class="col-xs-2 col-xs-offset-5">
	        	<%= link_to new_user_registration_path do %>
					<div class="btn btn-warning btn-block" %>Sign Up</div>
				<% end %>
				<%= link_to new_user_session_path do %>
					<div class="btn-block btn btn-info" %>Login</div>
				<% end %>
			</div>
		</div>
	</div>

