
      	<div class="col-md-3">
          <table class="table table-striped">
              <tr>
                <%= render 'share/profile_box', user: user %>
                <%= render 'share/form_box', book: book %>

              </tr>
          </table>
         </div>